<%= render "shared/header" %>

<div class="bg_pattern Polka_v2">
  <div class="show-task">
    <div class="task-detail">
      <div class="show-title-date">
        <div class="show-task-title">
          タスク名 : <%= @task.title %>
        </div>
        <div class="show-task-date">
          投稿日時 : <%= @task.created_at %>
        </div>
      </div>
      <div class="show-task-address">
        from : <%= @task.user.name %><span> ＞＞ </span>to : <%= @task.address %>
      </div>
      <div class="show-task-genre">
        タスクの種類 : <%= @task.genre.name %>
      </div>
      <div class="show-task-body">
        <div class="body-head">
          タスクの詳細
        </div>
        <div class="body-content">
          <%= @task.body %>
        </div>
      </div>
    </div>
    <div class="task-confirm-complete">
      <% if @task.confirmation == false %>
        <div class="confirmation">
          <%= link_to 'タスクの実施', confirmation_task_path, method: :patch, class: "confirm-btn" %>
        </div>
      <% else %>
        <% if @task.completed == false %>
          <div class="completed">
            <%= link_to 'タスク完了', complete_task_path, method: :patch, class: "complete-btn" %>
          </div>
        <% else %>
          <div class="completed">
            <%= link_to '未完了に戻す', complete_task_path, method: :patch, class: "complete-btn" %>
          </div>
          <div class="task-delete">
            <%= link_to 'タスク削除', task_path(@task), method: :delete, class: "delete-btn" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-comments">
    <% @comments.each do |comment| %>
      <div class="comment-box">
        <div class="comment-user-date">
          <div class="comment-user">
            <%= comment.user.name %>
          </div>
          <div class="comment-date">
            <%= comment.created_at %>
          </div>
        </div>
        <div class="comment-text">
          <%= comment.text %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="comment-area">
    <%= form_with(model: [@task, @comment], local: true) do |f| %>
      <div class="comment-form">
        <%= f.text_area :text, placeholder: "コメントを入力", class: "comment-input"%>
      </div>
      <div class="show-comment-btn">
        <%= f.submit "コメントする", class: "comment-submit-btn"%>
      </div>
    <% end %>
  </div>
</div>